name: Lint
on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    env:
      IS_CI: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shardIndex: [ 1, 2, 3 ]
        shardTotal: [ 3 ]
    concurrency:
      group: PR Lint - ${{matrix.shardIndex}} - ${{github.head_ref}}
      cancel-in-progress: true
    timeout-minutes: 10
    steps:
    - name: clone
      id: install
      uses: actions/checkout@v4

    - uses: ./.github/actions/init-node-and-install

    - name: lint
      run: pnpm tsx scripts/lint-shard.ts --shard=${{matrix.shardIndex}}/${{matrix.shardTotal}}
